@use '../abstracts/variables' as vars;

.btn {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border-radius: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    
    &-primary {
        background-color: vars.$color-primary;
        color: vars.$color-white;
        
        &:hover {
            //background-color: darken(vars.$color-primary, 10%);
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    }
    
    &-secondary {
        background-color: vars.$color-secondary;
        color: vars.$color-white;
        
        &:hover {
            //background-color: darken(vars.$color-secondary, 10%);
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    }
}