@use '../abstracts/variables' as vars;

.contact {
    padding: 50px;
    background-color: vars.$color-light-dark;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            color: vars.$color-primary;
            font-size: 80px;
        }

        & p {
            color: #fff;
        }
    }

    &__torii {
        display: flex;
        justify-content: center;

        & svg {
            width: 400px;
        }
    }

    &__form {
        padding: 4rem;
        background-color: vars.$color-dark;
        border: 1px solid vars.$color-secondary;
        border-radius: 20px;
    }
}